<h1>Welcome</h1>
<p>Welcome to Watson Discovery 1.0.0</p>
<p>Seek and you shall find!</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}